<% layout("/layouts/boilerplate") %>
<script>
  const maptoken = "<%= process.env.MAP_TOKEN %>";
</script>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3><%= listing.title %></h3>
    <div class="listing-card card">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top show-img"
        alt="listing_img"
      />
    </div>
    <ul>
      <div class="mb-3">
        <b>Owned by:- <i><%= listing.owner.username %></i></b>
        <br>
        <li class="form-control"><%= listing.description %></li>
      </div>
      <div class="mb-3">
        <li class="form-control">
          &#8377; <%= (listing.price != null) ?
          listing.price.toLocaleString("en-IN") : 'Price not available' %>
          /night
        </li>
        <!-- that code &#8377; is for rupess symbol -->
      </div>
      <div class="mb-3">
        <li class="form-control"><%= listing.location %></li>
      </div>
      <div class="mb-3">
        <li class="form-control"><%= listing.country %></li>
      </div>
    </ul>
  </div>
</div>

<br>
<br>
<div class="row">
  <div class="offset-2 ">
<form method="POST" action="/buy">
  <button class="btn btn-success edit-btn">Rent this listing</button>
</form>
</div>
</div>


<% if(currtUser && currtUser._id.equals(listing.owner._id)) { %>
<div class="row">
  <div class="offset-2 ">
    <!-- <form method="PUT" action="/listings/<%= listing._id %>/edit?_method=POST">
      <button class="edit">Edit this Listing</button>
    </form> -->
    <button class="btn btn-dark edit-btn edit-button mb-3"><a class="button text-decoration-none text-reset" href="/listings/<%= listing._id %>/edit">Edit this Listing</a></button>
    <br/>
    <form method="POST" action="/listings/<%=listing._id %>?_method=DELETE">
      <button class="btn btn-danger edit-btn">Delete This Listing</button>
    </form>
    <br/><br/>
  </div>
  <% } %>
</div>



<!-- review  -->
<hr>
<div class="rate">
  <div class="col-8 offset-3 w-100">
    <% if(currtUser) { %>
    <h4 class="leaveARating">Leave a Rating</h4>
    <br>    
    <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
      &emsp; &emsp; &emsp; &emsp; <span id="ratingValue" style="font-weight: bold; margin-left: 10px;">⭐⭐⭐</span>
      <div>
        <label for="rating" class="label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" oninput="updateRatingValue(this.value)" /><br>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="label">
        <textarea
          name="review[comment]"
          id="comment"
          cols="80"
          rows="5"
          class="form-control reviewArea"
          placeholder="Share your experience here"
          required
        ></textarea>
      </label>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
      <br> <br>
    </form>
    <% } %>

    <hr>
  
  <div class="row">
    <p><b>All reviews</b></p>
  <% for(review of listing.reviews){ %>
    <div class="card col-5 ms-3 mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <p class="card-text"><%= review.comment %> </p>
        <p class="card-text"><%= review.rating %>&#11088</p>
      
      <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
        <button class="btn btn-sm mb-1 mt-1 btn-dark">Delete</button>
      </form>      
    </div>
  </div>  
  <% } %>
</div>
</div>

<script>
  // JavaScript to update the rating value in real-time
  function updateRatingValue(value) {
    const ratingValueElement = document.getElementById('ratingValue');
    let stars = '⭐'.repeat(value); // Repeat the star emoji based on the rating value
    ratingValueElement.textContent = stars;
  }
</script>

<script src="/js/map.js"></script>